ion-toolbar{
    background-color: var(--ion-color-colorzzstyle);
    color:white
}
ion-button{
    background-color: var(--ion-color-colorzzstyle);
    color:white;
    border-color: var(--ion-color-colorzzstyle);
    border-radius: 0%;
}

@keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    animation: mover 1s infinite;
  }

  
  