<ion-header [translucent]="true">
  <ion-toolbar color="colorzzstyle">
    <ion-menu-toggle> <ion-icon name="menu"></ion-icon> </ion-menu-toggle>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- ======= Contact Section ======= -->


 
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title>WhatsApp</ion-card-title>
        <ion-card-subtitle >3227623346</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button  color="colorzzstyle"(click)="redirectToWhatsApp()">WhatsApp</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Correo</ion-card-title>
        <ion-card-subtitle>Colorzzeta@gmail.com</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button color="colorzzstyle" (click)="redirectToGmail()">Correo</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Linkedin</ion-card-title>
        <ion-card-subtitle>Jesus Gabriel Manrique Serrano</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="colorzzstyle" (click)="redirectToLinkedIn()">LinkedIn</ion-button>
    
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="happy-outline"></ion-icon> </ion-card-title>
      
      </ion-card-header>
    
      <ion-card-content>
        Recuerda que siempre me puedes contactar por cualquier medio 
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-content>
  <h2>Ubicacion</h2>

      

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8067587034134!2d-74.2175146230323!3d4.628538483346732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f2bb1c7cb93%3A0xe99e608a6442e3b!2sCl.%2084%20Sur%20%2396-85%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1681747536703!5m2!1ses!2sco" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <h2>Curriculum Vitae</h2>
  <iframe src="../../assets/CV_JesusGabrielManriqueSerrano (2).pdf" width="100%" height="100%"></iframe>
  <i>si no puedes ver el pdf descargalo <a href="../../assets/CV_JesusGabrielManriqueSerrano (2).pdf" download>Descargar PDF</a></i>
</ion-content>
      

  <!-- End Contact Section -->
</ion-content>
