ion-toolbar{
    background-color: var(--ion-color-colorzzstyle);
    color:white
}
ion-button{
    background-color: var(--ion-color-colorzzstyle);
    color:white;
    border-color: var(--ion-color-colorzzstyle);
    border-radius: 0%;

}