<ion-header [translucent]="true">
  <ion-toolbar color="colorzzstyle">
    <ion-menu-toggle> <ion-icon name="menu"></ion-icon> </ion-menu-toggle>
    <ion-title >Acerca de esta página</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acerca de </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      En la elaboración de esta página, se utilizaron diversas herramientas y
      tecnologías para ofrecer una experiencia de usuario de alta calidad. Se
      desarrolló con el framework Ionic y Bootstrap, lo que permitió crear un
      diseño moderno y adaptable a diferentes dispositivos. Además, se
      implementó la integración continua en Git para facilitar la gestión del
      código y asegurar la calidad del producto final. Las imágenes utilizadas
      en la página fueron generadas por una inteligencia artificial, lo que
      permitió crear gráficos de alta calidad y personalizados para la temática
      de la página. Finalmente, se utilizó Amazon S3 para alojar los archivos y
      asegurar una alta disponibilidad y velocidad de carga de la página. En
      resumen, esta página fue desarrollada con herramientas de última
      generación y tecnologías de vanguardia para ofrecer una experiencia de
      usuario excepcional.
    </ion-card-content>
  </ion-card>
</ion-content>
