<ion-header [translucent]="true">
  <ion-toolbar color="colorzzstyle" >
    <ion-menu-toggle> <ion-icon name="menu"></ion-icon> </ion-menu-toggle>
    <ion-title>certificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of certificationsList">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
               {{item.description}}
               <img src={{item.url}} alt="">
      

        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
