ion-toolbar{
    background-color: var(--ion-color-colorzzstyle);
    color:white
}
ion-button{
    background-color: var(--ion-color-colorzzstyle);
    color:white;
    border-color: var(--ion-color-colorzzstyle);
    border-radius: 0%;

}
ion-modal {
    --height: 100%;
    --width:90%;
    --margin: 0 auto;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }