<ion-header [translucent]="true">
  <ion-toolbar color="colorzzstyle">
    <ion-menu-toggle> <ion-icon name="menu"></ion-icon> </ion-menu-toggle>
    <ion-title
      >Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section
    id="hero"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <div class="hero-container" data-aos="fade-in">
      <h1>Gabriel Serrano</h1>
      <p #texto id="texto"></p>
    </div>
  </section>
  <main id="main">
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Acerca de mi</h2>
          <p>
            Como profesional en mi campo, siempre me esfuerzo por ofrecer lo
            mejor de mí en cada proyecto en el que trabajo. Sin embargo, también
            creo firmemente en la importancia de la flexibilidad y la
            adaptabilidad. Entiendo que cada proyecto es único y puede requerir
            diferentes enfoques y soluciones creativas. Por eso, estoy siempre
            dispuesto a escuchar y colaborar con mis clientes para lograr
            resultados excepcionales que cumplan con sus necesidades
            específicas. Siempre estoy en búsqueda de nuevas habilidades y
            oportunidades para crecer y mejorar como profesional.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div class="section-title">
              <h2>UI/UX Designer &amp; Web Developer.</h2>

              <p class="fst-italic">
                He tenido la oportunidad de trabajar en diversos proyectos en
                los que me he enfocado en diseñar y desarrollar la interfaz web
                para los usuarios. He trabajado con múltiples tecnologías para
                crear interfaces web atractivas y efectivas, que permitan a los
                usuarios interactuar con la información de manera intuitiva y
                satisfactoria. A través de estos proyectos, he adquirido
                habilidades en la creación de interfaces web, y me he esforzado
                por mantenerme actualizado en las últimas tendencias y
                tecnologías en la industria
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Skills</h2>
          <p>
            En mi ciclo profesional, he tenido la oportunidad de adquirir
            múltiples experiencias en las que he trabajado.He utilizado diversas
            tecnologías para crear interfaces atractivas y efectivas que
            permitan a los usuarios interactuar con la información de manera
            intuitiva y satisfactoria. A través de estas experiencias, he
            desarrollado habilidades en la creación de interfaces web y me
            esfuerzo por mantenerme actualizado en las últimas tendencias y
            tecnologías en la industria
          </p>
        </div>

        <div class="row skills-content" *ngFor="let skill of skillsArray">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill"
                >{{skill.skill}} <i class="val">{{skill.percentage}}%</i></span
              >
              <ion-progress-bar
                value=".{{skill.percentage}}"
                buffer=".100"
              ></ion-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Services</h2>
          <p>
            Basado en mis habilidades y conocimientos adquiridos en los últimos
            años, puedo ofrecer una amplia gama de servicios para satisfacer las
            necesidades de mis clientes. Estos servicios incluyen, pero no se
            limitan a:
          </p>
        </div>

        <div class="row">
          <div
            class="col-lg-4 col-md-6 icon-box"
            data-aos="fade-up"
            *ngFor="let service of services "
          >
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">{{service.title}}</a></h4>
            <p class="description">{{service.description}}</p>
          </div>
        </div>
      </div>
    </section>
    <!--  footer call to action -->
    <section>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Certificaciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Aqui encontraras las certificaciones que tengo actualmente a lo
              largo de mi experiencia
              <ion-button color="colorzzstyle" (click)=" goToCertifications()">ir a certificaciones</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Contacto </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Aqui encontraras todas las formas de contactarme recuerda que
              siempre estoy atento a cada una de ellas y si no me encuentras en
              una no dudes en usar las demas
              <ion-button color="colorzzstyle"  (click)=" goToContact()">ir a contacto</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Acerca de esta pagina </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Aqui encontraras como hice esta pagina, las tecnologias que use, cuanto me tarde, y notas de la siguiente actualizacion que planeo hacer 
              <ion-button color="colorzzstyle"  (click)=" goToAbout()">ir a acerca de esta pagina</ion-button>
            </ion-card-content>
          </ion-card>
         
        </ion-col>
      </ion-row>
    </section>
    <!-- end footer call to action -->
  </main>
</ion-content>
